<!DOCTYPE html>
<html lang="en">

<head>

  <title>History Service</title>
  <!--

Abber Byadek

https://templatemo.com/tm-538-digital-trend

-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/template/css/bootstrap.min.css">
  <link rel="stylesheet" href="/template/css/font-awesome.min.css">
  <link rel="stylesheet" href="/template/css/aos.css">
  <link rel="stylesheet" href="/template/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/template/css/owl.theme.default.min.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/template/css/templatemo-digital-trend.css">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

  <!-- MENU BAR -->
  <nav class="navbar navbar-expand-lg position-relative">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/logo_without_text.png" height="100" width="100" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/#about" class="nav-link smoothScroll">نبذة عنا</a>
          </li>
          <li class="nav-item">
            <a href="/#project" class="nav-link smoothScroll">خدماتنا</a>
          </li>

          <li class="nav-item">
            <a href="/#contact" class="nav-link contact">تواصل معنا</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="full-image text-center" data-aos="zoom-in">
    <!-- <img src="/template/images/project/project-detail/interview-process.jpg" class="img-fluid" alt="interview process"> -->
  </div>

  <!-- PROJECT DETAIL -->
  <section class="project-detail section-padding">
    <div class="container text-right">
      <div class="row" >

        <div class="col-12" data-aos="fade-up" data-aos-delay="200">
          <% for(var i=0; i< words.length; i++) {%>
            <div class="card-header">
             <%= words[i].wordCount %> :عدد مرات التعرف
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= words[i].word %>
              </h5>
             
            </div>
            <% } %>
        </div>



      </div>
    </div>

    </div>
  </section>


  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
          <img src="/images/logo_without_text.png" height="100" width="100" alt="">
        </div>

        <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
          <h4 class="my-4">Contact Info</h4>

          <p class="mb-1">
            <i class="fa fa-phone mr-2 footer-icon"></i>
            +99 080 070 4224
          </p>

          <p>
            <a href="#">
              <i class="fa fa-envelope mr-2 footer-icon"></i>
              hello@company.com
            </a>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
          <h4 class="my-4">Our Studio</h4>

          <p class="mb-1">
            <i class="fa fa-home mr-2 footer-icon"></i>
            Av. Lúcio Costa - Barra da Tijuca, Rio de Janeiro - RJ, Brazil
          </p>
        </div>

        <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
          <p class="copyright-text">Copyright &copy; 2020 Your Company
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a>
          </p>
        </div>

        <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">

          <ul class="footer-link">
            <li><a href="#">Stories</a></li>
            <li><a href="#">Work with us</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
          <ul class="social-icon">
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-dribbble"></a></li>
            <li><a href="#" class="fa fa-behance"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

  <!-- <script type="text/javascript">
      function callWords() {
              $.ajax({
                  url: "http://localhost:4000/words",
                  method: "GET",
                  type: "json",
                  success: function (data) {
                      var list_html = "<ol>";
                      for( var i=0; i <data.length; i++) {
                         list_html += "<li>" + data[i] + "</li>";
                       }
                      list_html += "</ol>"
                      $("#playlist").html(list_html);
                  },
                  error: function(data) {
                      console.log('There was a problem');
                  }
               });
               return false;    
           }
           callWords();
            setTimeout(callWords, 1000);          
           </script> -->
  <!-- SCRIPTS -->
  <script src="/template/js/jquery.min.js"></script>
  <script src="/template/js/bootstrap.min.js"></script>
  <script src="/template/js/aos.js"></script>
  <script src="/template/js/owl.carousel.min.js"></script>
  <script src="/template/js/custom.js"></script>

</body>

</html>