<!DOCTYPE html>
<html>

<head>

     <title>Sign Language Translation</title>
     <!--

Abber Byadek

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/template/css/bootstrap.min.css">
     <link rel="stylesheet" href="/template/css/font-awesome.min.css">
     <link rel="stylesheet" href="/template/css/aos.css">
     <link rel="stylesheet" href="/template/css/owl.carousel.min.css">
     <link rel="stylesheet" href="/template/css/owl.theme.default.min.css">

     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/template/css/templatemo-digital-trend.css">

</head>

<body>

     <!-- MENU BAR -->
     <nav class="navbar navbar-expand-lg">
          <div class="container">
               <a class="navbar-brand" href="/">
                    <img src="/images/logo_without_text.png" height="100" width="100" alt="">
               </a>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                              <a href="#about" class="nav-link smoothScroll">نبذة عنا</a>
                         </li>
                         <li class="nav-item">
                              <a href="#project" class="nav-link smoothScroll">خدماتنا</a>
                         </li>

                         <li class="nav-item">
                              <a href="#contact" class="nav-link contact">تواصل معنا</a>
                         </li>
                    </ul>
               </div>
          </div>
     </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                         <div class="hero-text">

                              <h1 class="text-white" style="font-size: 50px;" data-aos="fade-up">حدّثني بيديك لِأسمعك
                                   بعيني
                              </h1>

                              <!-- <a href="/contact" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a> -->

                         </div>
                    </div>

                    <div class="col-lg-5 col-12">
                         <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                              <img src="images/logo.png" class="img-fluid" alt="working girl">
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12 text-right">
                         <div class="about-info">

                              <p class="mb-0" data-aos="fade-up" style="font-size: 35px;"><strong
                                        style="font-size: 50px;">عبر بيدك</strong> هو مترجم إشاري سعودي يهدف لتقديم خدمه
                                   للمجتمع السعودي لتسهيل التواصل بين المجمتع وفئه الصم، انطلق من طالبات جامعة شقراء
                                   باستخدام احدث تقنيات الذكاء الاصطناعي.
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 200px;">


                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12 text-left">

                         <h2 class="mb-5 text-center" data-aos="fade-up">
                              ألقي نظرة على خدماتنا
                              <strong>في عبر بيدك</strong>
                         </h2>

                         <div class="card_container">
                              <a href="/image">

                                   <div class="card">

                                        <div class="card__body">
                                             <div class="text-center">
                                                  <i class="fa fa-camera" aria-hidden="true"
                                                       style=" font-size: 100px;"></i>
                                             </div>
                                             <h4 class="text-center">صورة</h4>

                                             <p class="text-right">ارفع صورة وتعرف على الايمائات فيها</p>
                                        </div>
                                        <div class="card__footer">
                                        </div>
                                   </div>
                              </a>

                              <a href="/real-time">

                                   <div class="card">

                                        <div class="card__body">
                                             <div class="text-center">
                                                  <i class="fa fa-video-camera" style="font-size: 100px;" aria-hidden="true"></i> 
                                             </div>
                                             <h4 class="text-center">الوقت الفعلي</h4>

                                             <p class="text-right">تعرف على الايمائات من الفيديو</p>
                                        </div>
                                        <div class="card__footer">
                                        </div>
                                   </div>
                              </a>

                              <a href="/history">

                                   <div class="card">

                                        <div class="card__body">
                                             <div class="text-center">
                                                  <i class="fa fa-history" style="font-size: 100px;" aria-hidden="true"></i>
                                             </div>
                                             <h4 class="text-center">سجل التعرف</h4>

                                             <p class="text-right">عدد مرات التعرف على كل الايمائات</p>
                                        </div>
                                        <div class="card__footer">
                                        </div>
                                   </div>
                              </a>
                         </div>

                    </div>
               </div>

          </div>
          </div>
     </section>

     <!-- Contact Section -->
     <section class="contact section-padding" id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">

                         <h1 class="mb-4">أهلا بك, هيا عبر لنا عن أفكارك الإبداعية لنتحسن</h1>

                         <p> <a href="mailto:abber.beyadek@gmail.com">abber.beyadek@gmail.com</a></p>
                    </div>

               </div>
          </div>
     </section>


     <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                         <img src="/images/logo_without_text.png" height="100" width="100" alt="">
                    </div>

                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                         <h4 class="my-4">Contact Info</h4>

                         <p class="mb-1">
                              <i class="fa fa-phone mr-2 footer-icon"></i>
                              +99 080 070 4224
                         </p>

                         <p>
                              <a href="#">
                                   <i class="fa fa-envelope mr-2 footer-icon"></i>
                                   abber.beyadek@gmail.com
                              </a>
                         </p>
                         <p>
                              <a href="https://twitter.com/signLanguage_2">
                                   <i class="fa fa-twitter mr-2 footer-icon"></i>
                                   @signLanguage_2
                              </a>
                         </p>


                    </div>

                    <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up"
                         data-aos-delay="400">
                         <p class="copyright-text">Copyright &copy; 2020 Your Company
                              <br>
                              <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a>
                         </p>
                    </div>


               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="/template/js/jquery.min.js"></script>
     <script src="/template/js/bootstrap.min.js"></script>
     <script src="/template/js/aos.js"></script>
     <script src="/template/js/owl.carousel.min.js"></script>
     <script src="/template/js/smoothscroll.js"></script>
     <script src="/template/js/custom.js"></script>

</body>

</html>